<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>UTImportedTypeDeclarations</key>
<array>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.cfg</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>cfg</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.cjs</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>cjs</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.code-workspace</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>code-workspace</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.conf</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>conf</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.config</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>config</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.cts</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>cts</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.env</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>env</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.ini</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>ini</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.js</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>js</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.jsonc</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>jsonc</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.jsx</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>jsx</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.log</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>log</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.lst</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>lst</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.markdown</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>markdown</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.md</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>md</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.mjs</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>mjs</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.mts</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>mts</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.properties</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>properties</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.ps1</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>ps1</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.psd1</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>psd1</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.psm1</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>psm1</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.pyi</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>pyi</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.pyw</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>pyw</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.sql</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>sql</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.tab</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>tab</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.ts</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>ts</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.tsx</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>tsx</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.xsd</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>xsd</string></array></dict>
</dict>
<dict>
<key>UTTypeIdentifier</key><string>io.hinen.markraft.imported.xsl</string>
<key>UTTypeConformsTo</key><array><string>public.text</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>xsl</string></array></dict>
</dict>
</array>
</dict>
</plist>
